/* *{
    margin: 0;
    padding: 0;
} */
/* 
.collapse .navbar-collapse ul > * {
    opacity: 0;
}
.collapse .navbar-collapse ul > * {
    overflow: hidden;
}
.collapse .navbar-collapse ul > *{
    transform: translateY(-30px);
}
.collapse .navbar-collapse ul {
    position: relative;
}

.collapse .navbar-collapse ul::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 9999;
    transform: scaleX(0);
}
.loaded .collapse .navbar-collapse ul > * {
  animation: fadeIn 1s ease-in 0.7s forwards, slideIn 0.8s ease-in 0.9s forwards;
}
.loaded .collapse .navbar-collapse ul::after {
    animation: scaleIn 1.3s ease-in 0.2s forwards;
  }
  
  @keyframes scaleIn {
    100% {
      transform: scaleX(1);
    }
  } */
body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #3282b8, #0f4c75);
    box-shadow: 0 0 9px rgb(50, 130, 184);
    padding: 0 !important;
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-nav li a:hover {
    color: #1b262c !important;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* ------banner----- */

#banner {
    /* background-image: linear-gradient(to right, #f5cdaa, #cfb495); */
    background-image: linear-gradient(to right, #3282b8, #0f4c75);
    color: #fff;
    padding-top: 10%;
    padding-bottom: 7%;
}

.promo-title {
    font-size: 75px;
    font-weight: 500;
    margin-top: 10px;
}

.tag-title {
    margin-left: 10px;
    font-size: 16px;
    margin-top: -20px;
}

.bottom-img {
    position: absolute;
    width: 100%;
    height: 140px;
    bottom: 10px;
    left: 0;
    background: url(image/waves.png);
    animation: animate 10s linear infinite;
}

.bottom-img:before {
    content: '';
    width: 100%;
    height: 140px;
    background: url(image/waves.png);
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
}

.bottom-img:after {
    content: '';
    width: 100%;
    height: 140px;
    background: url(image/waves.png);
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 1360px;
    }
}

@keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }

    100% {
        background-position: 0;
    }
}

.intro {
    display: flex;
    justify-content: center;
    background-blend-mode: luminosity;
    flex-grow: 1;
    min-height: 350px;
}

.ok {
    position: relative;
    display: block;
    width: 900px;
    height: 400px;
}

.ok:after {
    content: '';
    background: url(image/indonesia-vector-map-png-favpng-Xju0xhPKLdSsV5tqGbH0am4Qn-removebg-preview.png);
    opacity: 0.2;
    width: 800px;
    top: 10px;
    left: 10px;
    bottom: 100px;
    right: 50px;
    position: absolute;
    z-index: 1;

}

.intro div {
    max-width: 500px;
}

.intro {
    opacity: 0;
    overflow: hidden;
}

.loaded .intro {
    animation: fadeIn 1s ease-in 0.7s forwards;
}

.loaded .intro * {
    animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
}

@keyframes fadeIn {
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    100% {
        transform: scaleX(1);
    }
}

@keyframes slideIn {
    100% {
        transform: translateY(0);
    }
}

/* ----service---- */

#services {
    padding: 80px 0;
}

.card {
    margin: 5px;
    box-shadow: 0 0 9px rgb(50, 130, 184);
}

.service-img {
    width: 120px;
}

.service-img:hover {
    transform: translateY(-15px);
}

.service-img-pajak:hover {
    transform: translateY(-15px);
}

.service-img-pajak {
    width: 130px;
    height: auto;
}

.services {
    padding: 20px;
}

.services h5 {
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background: #3282b8;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background: #0f4c75;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#member-area {
    padding-top: 80px;
    padding-bottom: 50px;
    background: #f8f9fa;
}

.btn-demo {
    background-image: linear-gradient(to right, #3282b8, #0f4c75);
    color: #fff;

}

.mid {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.img-download {
    margin-right: 20px;
    color: #3282b8;
    width: 30px;
    height: 20%;
}

.wa {
    height: 7%;
    width: 7%;
}

#about-us {
    margin: 90px 0;
    padding-top: 80px;
}

.about-title {
    padding-top: 40px;
    font-weight: bold;
}

.img-fluids {
    height: 75%;
    width: 50%;
}

/* ===footer=== */
#footer {
    background-image: linear-gradient(to right, #3282b8, #0f4c75);
    color: #fff;
}

.footer-img {
    width: 100%;
    transform: rotate(180deg);
}

.wa-footer {
    color: #fff;
    font-size: 16px;
}

.wa-footer:hover {
    color: #1b262c !important;
}

#footer-info {
    font-size: 18px;
    margin-left: 220px;
    margin-bottom: 10PX;
}